{% extends 'notes/base_page.html' %}
{% block content %}
<form class="form-horizontal text-center" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <label for="id_is_favorites" class="m-4"></label>
    <div class="">
        <button type="submit" class="btn btn-labeled btn-edit-form" id="btnSubmit">
            <span class="btn-label">
                <i class="bi bi-check2-circle"></i>
            </span> Сохранить
        </button>
    </div>
</form>
{% endblock %}