{% extends 'notes/base_page.html' %}
{% block content %}
<div class="alert alert-danger shadow-lg" role="alert">
    <h4 class="alert-heading">Внимание!</h4>
    <p>Вы пытаетесь полностью удалить заметку. Последующее восстановление будет невозможно!</p>
    <p class="mb-0 text-center"><strong>Вы точно хотите удалить заметку?</strong></p>
    <div class="alert-menu d-flex justify-content-center w-100">
        <form action="{% url 'notesapp:post_basket_delete' pk=object.pk %}" method="post">
            {% csrf_token %}
        <button type="submit" class="btn alert-button">Да</button>
        <a href="{% url 'notesapp:posts_basket_list' %}" type="button" class="btn alert-button">Нет</a>
        </form>
    </div>
</div>
{% endblock %}