{% extends 'notes/base.html' %}
{% load static %}
{% block css %}
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'notes/css/style-posts.css' %}">
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="container">
    <a class="container__title" href="{% url 'notesapp:post_basket_detail' post.pk %}">
        <h1 class="mt-5"><s>{{ post.title }}</s></h1>
    </a>
    <p><s>{{ post.text|truncatechars:90|safe }}</s></p>
    <p>{{ post.created }}</p>
</div>
{% endfor %}
{% endblock %}