{% extends 'notes/base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'notes/css/style-posts.css' %}">
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="container">
    {% if '/fordev/' in request.path %}
    {% if post.text %}
    <a class="container__title" href="{% url 'fordev:page' post.category.pk post.pk %}">
        <h1 class="mt-5">{% if post.is_boxed %}<i class="bi bi-bookmark-check"></i>{% endif %} {{ post.title }}</h1>
    </a>
    {% else %}
    <h1 class="mt-5">{% if post.is_boxed %}<i class="bi bi-bookmark-check"></i>{% endif %} {{ post.title }}</h1>
    {% endif %}
    <div class="lead">{{ post.description|safe }}</div>

    {% if post.text %}
    <a href="{% url 'fordev:page' post.category.pk post.pk %}" class="link-primary">
        <i class="bi bi-arrow-right"></i> Подробнее ..</a>
    {% endif %}
    {% else %}
    <a class="container__title" href="{% url 'notesapp:post_detail' post.pk %}">
        <h1 class="mt-5">{{ post.title }}</h1>
    </a>
    <div class="lead">
        {{ post.text|truncatechars:90|linebreaks  }}
    </div>
    <p>
        {{ post.created }}
        {% if post.is_favorites %}
        <span class="star"></span>
        {% endif %}
    </p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
