{% extends 'notes/base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'notes/css/style-posts.css' %}">
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="container">
    {% if '/fordev/' in request.path %}
    <a class="container__title" href="{% url 'fordev:page' post.category.pk post.pk %}">
        <h1 class="mt-5">{{ post.title }}</h1>
    </a>
    <div class="lead">{{ post.description }}</div>
    {% else %}
    <a class="container__title" href="{% url 'post_detail' post.pk %}">
        <h1 class="mt-5">{{ post.title }}</h1>
    </a>
    <div class="lead">
        {{ post.text|truncatechars:90|safe }}
    </div>
    <p>
        {{ post.created }}
        {% if post.is_favorites %}
        <span class="star"></span>
        {% endif %}
    </p>
    {% endif %}

</div>
{% endfor %}
{% endblock %}
