asgiref
astroid
bleach
certifi
charset-normalizer
click
colorama
coreapi
coreschema
Django
django-bootstrap3-datetimepicker
django-environ
django-summernote
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
importlib-metadata
inflection
isort
itypes
Jinja2
lazy-object-proxy
Markdown
MarkupSafe
mccabe
packaging
platformdirs
psycopg2-binary
Pygments
PyJWT
pylint
pymdown-extensions
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
six
sqlparse
toml
typing-extensions
uritemplate
urllib3
webencodings
wrapt
zipp
