asgiref
astroid
colorama
Django
django-environ
djangorestframework
djangorestframework-simplejwt
isort
lazy-object-proxy
mccabe
platformdirs
PyJWT
pylint
pytz
sqlparse
toml
typing-extensions
wrapt
psycopg2-binary
