{% extends 'notes/base_page.html' %}
{% block content %}
<!--Edit user form-->
<div class="position-absolute top-50 start-50 translate-middle edit-profile-form">
    <div class="link-form">
        <a class="link-form--link" href="{% url 'auth:edit' %}">Профиль</a>
        <span class="link-form--span">Сменить пароль</span>
    </div>
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% for field, errors in form.errors.items %}
      <div class="alert alert-danger" role="alert">
      {% for error in errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
      </div>
      {% endfor %}
        <label for="id_old_password">Старый пароль:</label>
        <input type="password" name="old_password" class="form-control" autocomplete="current-password" required="" id="id_old_password">
        <label for="id_password">Пароль:</label>
        <input type="password" name="password" class="form-control" autocomplete="new-password" required="" id="id_password" aria-autocomplete="list">
        <label for="id_password2">Повторите пароль:</label>
        <input type="password" name="password2" class="form-control" autocomplete="new-password" required="" id="id_password2">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-profile-form">
            Сохранить
            </button>
        </div>
    </form>
</div>
<!--END-->
{% endblock %}