{% extends 'notes/base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/forms.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="auth-form position-absolute top-50 start-50 translate-middle shadow p-3 mb-5 bg-body rounded">
            <form class="form-horizontal" action="{% url 'auth:login' %}?next={{ request.GET.next }}" method="post">
                {% csrf_token %}
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                {{ login_form.as_p }}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-1">
                    <button type="submit" class="btn btn-labeled btn-outline-secondary">
                        <span class="btn-label">
                            <i class="bi bi-box-arrow-in-right"></i></span> Войти
                    </button>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-1">
                    <a class="nav-link small" aria-current="page" href="{% url 'auth:register' %}">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}