<form method="POST">
    {% csrf_token %}
    <label for="id_new_password1">Новый пароль:</label>
    <input type="password" name="new_password1" autocomplete="new-password" required
           id="id_new_password1" class="form-control">
    <p style="color: red;">{{ form.new_password1.errors|striptags }}</p>
    <label for="id_new_password2">Подтверждение нового пароля:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required
           id="id_new_password2" class="form-control">
    <p style="color: red;">{{ form.new_password2.errors|striptags }}</p>
    <div style="text-align: center; margin-top: 10px">
        <button class="btnSubmit" type="submit">СМЕНИТЬ ПАРОЛЬ</button>
    </div>
</form>