{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}

{% if user %}
<h1 class="display-5 fw-bold">Поздравляем!</h1>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Пользователь <strong>{{user.username}}</strong> подтвержден.</p>
    {% else %}
    <h1 class="display-5 fw-bold">Верификация не пройдена.</h1>
    {% endif %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'index' %}" class="btn btn-primary btn-lg px-4 gap-3">На главную</a>
    </div>
</div>
{% endblock %}