<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" data-bs-scroll="true" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        {% if user.is_authenticated %}
        <a href="{% url 'authapp:edit' %}" class="offcanvas-header--link">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                {% if user.name and not user.last_name %} {{ user.name }} {% elif not user.name and user.last_name %} {{ user.last_name }} {% elif user.name and user.last_name %} {{ user.name }} {{ user.last_name|slice:1 }}. {% else %} {{ user.email }} {% endif %}
            </h5>
        </a>
        {% else %} Hello! {% endif %}
        <button class="btn close-offcanvas" type="button" data-bs-dismiss="offcanvas"><i
                class="bi bi-x-lg"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="offcanvas-search">
            <div class="position-relative offcanvas-search-form px-3 py-3">
                <form class="search-form-top" action="/app/search/" method="get">
                    <div class="input-group">
                        <input class="form-control search" name="q" type="text" aria-describedby="btn-search" placeholder="Поиск...">
                        <button class="btn btn-navbar" type="submit" id="btn-search"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        {% if user.is_authenticated %} {% with request.resolver_match.url_name as url_name %}
        <ul class="list-group">
            <li class="list-group-item {% if url_name == 'post_create' %}active{% endif %}">
                <div class="list-group-item--div">
                    <a class="d-flex justify-content-between" href="{% url 'notesapp:post_create' %}">
                        <div class="icanvas"><i class="bi bi-file-earmark-plus"></i> Создать заметку
                        </div>
                    </a>
                </div>
            </li>
            {% if url_name == 'notes_list' or url_name == 'search_results' or url_name == 'post_detail' or url_name == 'post_update' or url_name == 'post_basket_add'%}
            <li class="list-group-item active">
                {% else %}
                <li class="list-group-item">
                    {% endif %}
                    <div class="list-group-item--div">
                        <a class="d-flex justify-content-between" href="{% url 'notesapp:notes_list' %}">
                            <div class="icanvas"><i class="bi bi-list-ul"></i> Мои заметки</div>
                            {% if count_is_active %}
                            <span class="badge rounded-pill bg-success">{{ count_is_active }}</span> {% endif %}
                        </a>
                    </div>
                </li>
                <li class="list-group-item {% if url_name == 'posts_favorites' %}active{% endif %}">
                    <div class="list-group-item--div">
                        <a class="d-flex justify-content-between" href="{% url 'notesapp:posts_favorites' %}">
                            <div class="icanvas"><i class="bi bi-star"></i> Избранное</div>
                            {% if count_is_favorites %}
                            <span class="badge rounded-pill bg-warning text-dark">{{ count_is_favorites }}</span> {% endif %}
                        </a>
                    </div>
                </li>
                {% if url_name == 'posts_basket_list' or url_name == 'post_basket_detail' or url_name == 'post_basket_return' or url_name == 'post_basket_delete' %}
                <li class="list-group-item active">
                    {% else %}
                    <li class="list-group-item">
                        {% endif %}
                        <div class="list-group-item--div">
                            <a class="d-flex justify-content-between" href="{% url 'notesapp:posts_basket_list' %}">
                                <div class="icanvas"><i class="bi bi-basket2"></i> Корзина</div>
                                {% if count_is_basket %}
                                <span class="badge rounded-pill bg-secondary">{{ count_is_basket }}</span> {% endif %}
                            </a>
                        </div>
                    </li>
        </ul>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span class="icanvas"><i class="bi bi-gear"></i> Настройки</span></button>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="themes small">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input ch" type="radio" name="inlineRadioOptions" id="RadioLight" value="light">
                                <label class="form-check-label fon fon1" for="RadioLight"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input ch" type="radio" name="inlineRadioOptions" id="RadioDark" value="dark">
                                <label class="form-check-label fon fon2" for="RadioDark"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label for="sizeRange" class="form-label" id="sizeValue">Текст</label>
                            </div>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" class="form-range" min="10" max="50" value="30" id="sizeRange">
                        </div>
                        <!--change theme-->
                        <div class="bgthemes small">
                            <div class="form-check">Фон</div>
                            <div class="form-check form-check-inline">
                                <input class="chbox-changetheme" type="checkbox" name="inlineRadioOptions" id="backgroundColor" value="bgcolor">
                                <label class="form-check-label clrbg" for="backgroundColor"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="chbox-changetheme" type="checkbox" name="inlineRadioOptions" id="backgroundImage" value="over">
                                <label class="form-check-label imgbg" for="backgroundImage"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="list-group-item--div">
                    <a class="d-flex justify-content-between" href="{% url 'auth:logout' %}">
                        <div class="icanvas"><i class="bi bi-box-arrow-left">
                            </i> Выйти</div>
                    </a>
                </div>
            </li>
        </ul>
        {% endwith %} {% else %}
        <ul class="list-group">
            <li class="list-group-item {% if url_name == 'list' or url_name == 'page' %}active{% endif %}">
                <div class="list-group-item--div">
                    <a class="d-flex justify-content-between" href="{% url 'fordevapp:list' %}">
                        <div class="icanvas"><i class="bi bi-person-workspace"></i> Для разработчиков
                        </div>
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div class="list-group-item--div">
                    <a class="d-flex justify-content-between" href="{% url 'auth:login' %}">
                        <div class="icanvas"><i class="bi bi-box-arrow-left">
                            </i> Войти</div>
                    </a>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>
</div>