<p class="text-center">Page 1 of 4.</p>
<nav aria-label="Page navigation bootstrap">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item" aria-current="page">
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                <div class="pg-item">
                    <span>&laquo;</span>
                </div>
            </a>
        </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item" aria-current="page">
            <a href="#">
                <div class="pg-item active">
                    <span>{{ num }}</span>
                </div>
            </a>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item" aria-current="page">
            <a href="{{ request.path }}?page={{ num }}">
                <div class="pg-item">
                    <span>{{ num }}</span>
                </div>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item" aria-current="page">
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                <div class="pg-item">
                    <span>&raquo;</span>
                </div>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>