{% for message in messages %}
    <div class="position-fixed bottom-0 end-0 p-3">
        <div class="toast fade show align-items-center" role="status" aria-live="polite" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <i class="bi bi-info-square-fill"></i>
                    <span class="me-auto">{{ message }}</span>
                </div>
                <button type="button" class="btn-close btn-close-dark me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
{% endfor %}
