 <form class="form-sing rounded" action="{% url 'auth:register' %}" method="post">
    <h1 class="form-sigin-h1 mb-3 fw-normal">Зарегистрироваться</h1>
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    {% for field, errors in form.errors.items %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    </div>
    {% endfor %}
     <div class="form-floating">
        <input type="email" name="email" autocomplete="username" class="form-control sing" id="id_email" placeholder="name@example.com" required>
        <label for="id_email">Email</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password1" autocomplete="current-password" class="form-control sing" id="id_password1" placeholder="Password" required>
        <label for="id_password1">Password</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password2" autocomplete="current-password" class="form-control sing" id="id_password2" placeholder="Repeat password" required>
        <label for="id_password2">Repeat password</label>
    </div>
    <button class="w-100 btn btn-lg btn form-sigin-submit" type="submit">Отправить</button>
</form>
